extends ../layout

block content
    .container
        .row
            .col-12
                h1 Nueva bicicleta
            .col-12
                form(action='/bicicletas/create' method='post')
                    .form-group
                        label(for='id') ID
                        input#id.form-control(type='text' name='id')
                    .form-group
                        label(for='color') Color
                        input#color.form-control(type='text' name='color')
                    .form-group
                        label(for='modelo') Modelo
                        input#modelo.form-control(type='text' name='modelo')
                    .form-group
                        label(for='latitud') Latitud
                        input#latitud.form-control(type='text' name='latitud')
                    .form-group Longitud
                        label(for='longitud')
                        input#longitud.form-control(type='text' name='longitud')
                    .form-group
                        input#btn.form-control(type='submit' name='btn' value='Enviar')
            .col-12
                a.btn.btn-info(href='/bicicletas') Volver
