extends ../layout

block content
    .container
        .row
            .col-12.table-responsive
                table.table.table-bordered
                    tr
                    th(scope='col') #
                        th(scope='col') Color
                        th(scope='col') Modelo
                        th(scope='col') Ubicación
                        th(scope='col')
                        th(scope='col')
                    tbody
                        each bici in bicis
                            tr
                                td(scope='row')= bici.id
                                td= bici.color
                                td= bici.modelo
                                td= bici.ubicacion
                                td
                                    form.iline(method='post' action='/bicicletas/' + bici.id + '/delete')
                                        input(type='hidden' name='id' value=bici.id)
                                        button.btn.btn-danger(type='submit') Eliminar
                                td
                                    a(href='/bicicletas/' + bici.id + '/update').btn.btn-secondary Actualizar
            .col-12
                a.btn.btn-primary(href='/bicicletas/create') Crear Bicicleta
